{ deps
, [ { cowboy, ".*"
    , {git, "git://github.com/extend/cowboy.git", "master"}
    }
  , { samerlib, ".*"
    , {git, "git://github.com/samuelrivas/samerlib.git", "master"}
    }
  , { erlydtl, ".*"
    , {git, "git://github.com/evanmiller/erlydtl.git", "master"}
    }
  , {mimetypes, ".*",
     {git, "git://github.com/spawngrid/mimetypes.git", "master"}
    }
  , {neotoma, ".*",
     {git, "git://github.com/seancribbs/neotoma.git", "master"}
    }
  , {reloader, ".*",
     {git, "git://github.com/bjnortier/reloader.git", "master"}
    }
  ]
}.
